@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(177, 177, 177);
  font-family: Oswald, sans-serif;
  overflow: hidden;
}

.top-bar {
  padding-left: 15px;
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: grey;
  display: flex;
  justify-content: center;
}

/* Font Awesome Icons */
.fas,
.far {
  font-size: 25px;
  position: relative;
  top: 5px;
  background-color: rgb(82, 82, 82);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.fas:hover,
.far:hover {
  filter: brightness(90%);
}

.fa-fill-drip {
  cursor: default;
}

.fa-undo-alt:hover,
.fa-trash-alt:hover {
  color: rgb(223, 37, 37);
}

/* Tools */
.active-tool {
  position: absolute;
  top: 9px;
  left: 5px;
}

.active-tool > span {
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 2.5px 16px;
  color: white;
  font-size: 20px;
  user-select: none;
}

.tool {
  position: relative;
  top: 3px;
}

.tool:not(:first-child) {
  margin-left: 8px;
}

.brush {
  background-color: rgb(114, 114, 114);
  height: 44px;
  width: 345px;
}

.brush > * {
  margin-left: 10px;
}

.size {
  min-width: 40px;
  height: 35px;
  position: relative;
  top: 4px;
  left: -5px;
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 2.5px 8px;
  color: white;
  font-size: 20px;
  user-select: none;
}

/* Custom Slider */
.slider {
  -webkit-appearance: none;
  position: relative;
  left: -8px;
  width: 100px;
  height: 10px;
  background: rgb(177, 177, 177);
  outline: none;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(47, 47, 47);
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: rgb(47, 47, 47);
}

/* Canvas */
canvas#canvas {
  background-color: white;
  position: absolute;
  top: 50px;
  cursor: crosshair;
  z-index: 10;
}
